@page "/acercade"

<PageTitle>Acerca de</PageTitle>

<section class="caja">
    <div class="caja-datos-pf">
        <img src="css/img/Foto 2x2.jpg" alt="Foto 2x2" title="Moises Nuñez">

        <div>
            <h3 class="nombre">Moises Nuñez del Rosario</h3>
            <h3 class="correo">moisesnzr.rd@gmail.com</h3>
            <h3 class="correo">202010457@itla.edu.do</h3>
            <a href="https://api.whatsapp.com/send?phone=+1829-310-7158" target="_blank" class="btn btn-success">WhastApp</a>
            <a href="https://t.me/Moiszr" target="_blank" class="btn btn-success">Telegram</a>
        </div>

    </div>

    <div class="caja-datos-pf">
        <img src="css/img/Foto 2x2 Daniel.jpg" alt="Foto 2x2" title="Daniel Alexander">

        <div>
            <h3 class="nombre">Daniel Alexander Pereyra Beltranl</h3>
            <h3 class="correo">pereyradaniel.rd@gmail.com</h3>
            <h3 class="correo">20209992@itla.edu.do</h3>
            <a href="https://api.whatsapp.com/send?phone=+1809-304-5096" target="_blank" class="btn btn-success">WhastApp</a>
            <a href="https://t.me/DanielPereyraBeltran" target="_blank" class="btn btn-success">Telegram</a>
        </div>

    </div>
</section>
