@inherits LayoutComponentBase

<PageTitle>Tarea9</PageTitle>

<div class="page">

    <main>
        <nav class="white" role="navigation">
            <div class="nav-wrapper container">
            <a id="logo-container" href="/" class="brand-logo"><img src="" alt="">Tarea 9 - CODEBRO</a>

            <ul class="right hide-on-med-and-down">
                <li><a href="/crearCliente">Registrar Cliente</a></li>
            </ul>

            <ul class="right hide-on-med-and-down">
                <li><a href="/">Inicio</a></li>
            </ul>
            <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            </div>
        </nav>

        <article class="container">
            @Body
        </article>

        <footer class="page-footer teal">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">CODEBRO</h5>
          <p class="grey-text text-lighten-4">"Primero resuelve el problema después escribes el código."</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Nosotros</h5>
          <ul>
            <li><a class="white-text" href="/acercade">Acerca de</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="brown-text text-lighten-3" href="http://materializecss.com">Materialize</a>
      </div>
    </div>
  </footer>
    </main>
</div>
